<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-dfufirmware"
        version="1.1.0">

    <name>DfuFirmware</name>
    <description>This plugin is for updating Wristband device using ota - Android</description>
    <author>Squad 7 Team MK</author>
    <keywords>android, Dfu</keywords>
    <license>MIT</license>

    <js-module src="www/dfufirmware.js" name="DfuFirmware">
        <clobbers target="DfuFirmware" />
    </js-module>
    <engines>
        <engine name="cordova-android" version=">=3.0.0"/>
    </engines>

    <platform name="android">
        <source-file src="src/com/cloakedninjas/cordova/plugins/DfuFirmware.java" target-dir="src/com/cloakedninjas/cordova/plugins" />
        <source-file src="src/com/cloakedninjas/cordova/plugins/DfuNotificationActivity.java" target-dir="src/com/cloakedninjas/cordova/plugins" />  
        <source-file src="src/com/cloakedninjas/cordova/plugins/DfuService.java" target-dir="src/com/cloakedninjas/cordova/plugins" />    
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DfuFirmware" >
                <param name="android-package" value="com.cloakedninjas.cordova.plugins.DfuFirmware"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.cloakedninjas.cordova.plugins.DfuNotificationActivity"/>
            <service android:name="com.cloakedninjas.cordova.plugins.DfuService" />
        </config-file>
    </platform>
</plugin>
